@import "./../../styles/_option.sass"
.title
	font: italic 700 48px $fontAccent
	margin-bottom: 30px !important
.artifacts 

	display: flex
	column-gap: 30px
	justify-content: space-between
	img
		// width: 825px
		// object-fit: cover
		width: 100%
	
@media screen and (width <= 1100px)
	.title
		text-align: center
	.artifacts
		display: grid
		row-gap: 10px
		.artifacts__badge
			width: 100%
			min-height: 250px
		.badge__more
			bottom: 18px !important
			right: 25px